In [83]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_excel('source.xlsm')
data.info
data.shape()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   First name      1000 non-null   object
 1   Last name       1000 non-null   object
 2   country         1000 non-null   object
 3   car make        1000 non-null   object
 4   car model year  1000 non-null   int64
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [95]:
data.groupby('car make').count()

                First name  Last name  country  car make
car model year
1958                     2          2        2          2
1960                     1          1        1          1
1961                     2          2        2          2
1963                     1          1        1          1
1964                     1          1        1          1
1965                     2          2        2          2
1966                     2          2        2          2
1967                     4          4        4          4
1968                     1          1        1          1
1969                     2          2        2          2
1970                     3          3        3          3
1971                     2          2        2          2
1972                     3          3        3          3
1973                     2          2        2          2
1974                     1          1        1          1
1977                     1          1        1          1
1978                     3          3        3          3
1981                     1          1        1          1
1982                     1          1        1          1
1983                     3          3        3          3
1984                     7          7        7          7
1985                    15         15       15         15
1986                     9          9        9          9
1987                    14         14       14         14
1988                    13         13       13         13
1989                    15         15       15         15
1990                    16         16       16         16
1991                    15         15       15         15
1992                    33         33       33         33
1993                    45         45       45         45
1994                    42         42       42         42
1995                    38         38       38         38
1996                    33         33       33         33
1997                    29         29       29         29
1998                    29         29       29         29
1999                    21         21       21         21
2000                    37         37       37         37
2001                    34         34       34         34
2002                    45         45       45         45
2003                    43         43       43         43
2004                    46         46       46         46
2005                    37         37       37         37
2006                    50         50       50         50
2007                    45         45       45         45
2008                    48         48       48         48
2009                    55         55       55         55
2010                    39         39       39         39
2011                    47         47       47         47
2012                    53         53       53         53
2013                     9          9        9          9